.subscribe {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__pretitle {
    color: #E5B120;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.05em;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: #3D3D3D;
    font-family: 'Playfair Display', serif;
    font-size: 39px;
    margin-top: 8px;
  }

  &__description {
    margin-top: 22px;
    letter-spacing: 0.05em;
    color: #4D4D4D;
    font-size: 17px;
    font-weight: 400;
  }

  &__form {
    margin-top: 42px;
    margin-bottom: 56px;
    display: flex;
    gap: 20px;

    &-input {
      padding-left: 21px;
      height: 55px;
      width: 356px;
      border: none;
      outline: none;
      background-color: #F1F1F1;
      color: #737373;
      font-size: 16px;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}