.test {
  background-color: #F4F4F4;

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
  }

  &__progress {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-meter {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 10px;

      &-labels {
        display: flex;
        width: 714px;
        justify-content: space-around;
      }

      &-label {
        font-size: 13px;
        color: #727272;
        letter-spacing: 0.2em;
      }

      &-bar {
        height: 9px;
        width: 745px;
        background: linear-gradient(to bottom, #e6e6e6, #efefef);
        border-bottom: 1px solid #fefefe;
        position: relative;

        &-separator {
          position: absolute;
          height: 17px;
          width: 1px;
          bottom: 0;
          background-color: #c4c4c4;

          &_first {
            left: 357px;
          }

          &_second {
            left: 714px;
          }
        }

        &-value {
          display: block;
          height: 100%;
          width: 16.5%;
          background: linear-gradient(to bottom, #8097C3, #8FA5D2);
          overflow: hidden;
        }
      }
    }



    &-count {
      display: flex;
      align-items: center;
      gap: 11px;

      &-img {
        width: 26px;
        height: auto;
      }

      &-description {
        color: #727272;
        font-size: 17px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__questions {
    margin-top: 19px;
    border: 1px solid #D4D4D4;
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      background-color: #7B92E6;
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.1em;
      font-size: 13px;
      padding-left: 32px;
      padding-right: 24px;
      height: 82px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-description {
        width: 480px;
      }

      &-values {
        display: flex;
      }

      // Желательно придумать, как сделать единый gap, но под дизайн не очень идет.
      &-value {
        &:nth-child(5) {
          margin-left: 23px;
        }
        &:nth-child(4) {
          margin-left: 24px;
        }
        &:nth-child(3) {
          margin-left: 27px;
        }
        &:nth-child(2) {
          margin-left: 34px;
        }
      }
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #EAEAEA;
    padding-left: 32px;
    padding-right: 38px;

    &-value {
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
    }

    & input {
      position: absolute;
      left: -9999px;
    }

    &-label {
      display: block;
      width: 25px;
      height: 25px;
      background: url("../../images/test/test-checkbox-off.png") no-repeat;
    }

    & input:checked + label {
      display: block;
      width: 26px;
      height: 26px;
      background: url("../../images/test/test-checkbox-on.png") no-repeat;
    }

    &-text {
      width: 440px;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.5em;
      color: #727272;
      overflow-wrap: break-word;
    }

    &-values {
      display: flex;
      gap: 66px;
    }

    &:nth-child(odd) {
      background-color: #FFFFFF;
    }

    &:nth-child(even) {
      background-color: #F3F3F3;
    }

    &:last-child {
      background-color: #F6F6F6;
    }
  }
}
